In [1]:
import pandas as pd
import os
import shutil
import sys

In [2]:
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\aakas\Documents\Projects\Thyroid-disease-detection\research

In [3]:
os.chdir("../")

In [4]:
%pwd

'c:\\Users\\aakas\\Documents\\Projects\\Thyroid-disease-detection'

['thyroid_20230819_200132.csv', 'thyroid_20230819_200614.csv']

#### Column Check

In [5]:
import yaml
from thyroid.utils.exception import customException

In [6]:
def read_yaml_file(file_path: str) -> dict:
    try:
        with open(file_path, "rb") as yaml_file:
            return yaml.safe_load(yaml_file)
    except Exception as e:
        raise customException(e, sys) from e

In [7]:
yaml_file_path = os.path.join("config", "config.yaml")
config_data = read_yaml_file(yaml_file_path)
expected_column_length = config_data['train_column_length']

In [8]:
expected_column_length

30

In [9]:
artifact_directory = "artifact"
ingested_directory = "ingested_data"
bad_directory = "bad_data"

In [10]:
ingested_data_directory = os.path.join(artifact_directory, ingested_directory)

# Create the ingested_data directory inside the artifact directory if it doesn't exist
bad_data_directory = os.path.join(artifact_directory, bad_directory)
if not os.path.exists(bad_data_directory):
    os.makedirs(bad_data_directory)

In [11]:
ingested_data_directory

'artifact\\ingested_data'

In [27]:
df = pd.read_csv("artifact\\ingested_data\\thyroid_20230820_202222.csv")
df

,age,sex,on_thyroxine,query_on_thyroxine,on_antithyroid_medication,sick,pregnant,thyroid_surgery,I131_treatment,query_hypothyroid,...,TT4_measured,TT4,T4U_measured,T4U,FTI_measured,FTI,TBG_measured,TBG,referral_source,class
0,"['41', 'F', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"['23', 'F', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"['46', 'M', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"['70', 'F', 't', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"['70', 'F', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2795,"['70', 'M', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2796,"['73', 'M', 'f', 't', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2797,"['75', 'M', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2798,"['60', 'F', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2799,"['81', 'F', 'f', 'f', 'f', 'f', 'f', 'f', 'f',...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
def check_number_of_columns(df,expected_column_length):
    if df.shape[1] == expected_column_length:
        return True
    else:
        return False

In [13]:
def number_of_complete_missing_data_columns(df):
    # Identify columns with all '?'
    columns_with_all_question_marks = []
    for column in df.columns:
        if all(df[column] == '?'):
            columns_with_all_question_marks.append(column)

    # Print the column names with all '?'
    print("Columns with all '?' values:", columns_with_all_question_marks)
    return(len(columns_with_all_question_marks))

In [22]:
# validation checks
for filename in os.listdir(ingested_data_directory):
    if filename.endswith(".csv"):
        file = os.path.join(ingested_data_directory, filename)
        df = pd.read_csv(file)
        
        # coulmns check
        if check_number_of_columns(df,expected_column_length):
            print("true")
        else:
            print("bad column length - 30 columns for train needed")
            print("moving file {} to bad data directory".format(file))
            shutil.move(file, bad_data_directory)

        # check for missing data
        
        missing_value = number_of_complete_missing_data_columns(df)
        print(missing_value)
        if missing_value <= 2:
            print("pass")
        else:
            print("move to bad directory")

true
Columns with all '?' values: []
0
pass
true
Columns with all '?' values: []
0
pass
true
Columns with all '?' values: ['TBG']
1
pass

In [ ]:
Age -> negative, large value, only numerics